.gradle/
.idea/
build/
clients/
config/
cordapp/build/
cordapp/logs/
cordapp/out/
cordapp/src/integrationTest/
cordapp-contracts-states/build/
cordapp-contracts-states/out/
gradle/
logs/
out/
gradlew
gradlew.bat
LICENCE
TRADEMARK