.gradle/
.idea/
build/
clients/
config/
cordapp/build/
cordapp/src/integrationTest/
cordapp/src/test/
cordapp/build.gradle
gradle/
lib/
logs/
build.gradle
gradle.properties
gradlew
gradlew.bat
LICENCE
settings.gradle
TRADEMARK